@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-wrapper">
    <div class="page-body">
        <div class="row">
            <!-- social download  start -->
            <div class="col-xl-4 col-md-6">
                <div class="card social-card bg-simple-c-blue">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="feather icon-file f-34 text-c-blue social-icon"></i>
                            </div>
                            <div class="col">
                                <h6 class="m-b-0">Dealers Contact</h6>
                                <p>50 Dealers</p>
                                <p class="m-b-0">Dealers Contact Information Management Application</p>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Dashboard",new { area = "DealersManage" })" class="download-icon"><i class="feather icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card social-card bg-simple-c-pink">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="feather icon-alert-octagon f-34 text-c-pink social-icon"></i>
                            </div>
                            <div class="col">
                                <h6 class="m-b-0">Tender Search</h6>
                                <p>13 Tender Search Link</p>
                                <p class="m-b-0">Tender Search Information Management Application</p>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Dashboard",new { area = "TenderSearchManage" })" class="download-icon"><i class="feather icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card social-card bg-simple-c-green">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="feather icon-bell f-34 text-c-green social-icon"></i>
                            </div>
                            <div class="col">
                                <h6 class="m-b-0">Tender Quote</h6>
                                <p>25 Tender Quote Link</p>
                                <p class="m-b-0">Tender Quote Contact Information Management Application</p>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Dashboard",new { area = "TenderQuoteManage" })" class="download-icon"><i class="feather icon-arrow-right"></i></a>
                </div>
            </div>
            <!-- social download  end -->
            <!-- subscribe start -->
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-block text-center">
                        <i class="feather icon-mail text-c-lite-green d-block f-40"></i>
                        <h4 class="m-t-20">EMD APP</h4>
                        <p class="m-b-20">Your main list is growing</p>
                        <button class="btn btn-primary btn-sm btn-round">Manage List</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-block text-center">
                        <i class="feather icon-twitter text-c-green d-block f-40"></i>
                        <h4 class="m-t-20">Invoice App</h4>
                        <p class="m-b-20">Your main list is growing</p>
                        <button class="btn btn-success btn-sm btn-round">Check them out</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-block text-center">
                        <i class="feather icon-briefcase text-c-pink d-block f-40"></i>
                        <h4 class="m-t-20">Website App</h4>
                        <p class="m-b-20">This is your current active plan</p>
                        <button class="btn btn-danger btn-sm btn-round">Website</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-block text-center">
                        <i class="feather icon-briefcase text-c-pink d-block f-40"></i>
                        <h4 class="m-t-20">Admin App</h4>
                        <p class="m-b-20">This is your current active plan</p>
                        <button class="btn btn-info btn-sm btn-round">Upgrade to VIP</button>
                    </div>
                </div>
            </div>
            <!-- subscribe end -->

        </div>
    </div>
</div>



