@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-wrapper">
    <div class="page-body">
        <div class="row">
            <!-- social download  start -->
            <div class="col-xl-4 col-md-6">
                <div class="card social-card bg-simple-c-blue">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="feather icon-file f-34 text-c-blue social-icon"></i>
                            </div>
                            <div class="col">
                                <h6 class="m-b-0">Dealers Management</h6>
                                <p>50 Dealers</p>
                                <p class="m-b-0">Dealers Contact Information Management Application</p>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Dashboard",new { area = "DealersManage" })" class="download-icon"><i class="feather icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card social-card bg-simple-c-pink">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="feather icon-twitter f-34 text-c-pink social-icon"></i>
                            </div>
                            <div class="col">
                                <h6 class="m-b-0">twitter</h6>
                                <p>231.2w downloads</p>
                                <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                            </div>
                        </div>
                    </div>
                    <a href="#!" class="download-icon"><i class="feather icon-arrow-down"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card social-card bg-simple-c-green">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="feather icon-instagram f-34 text-c-green social-icon"></i>
                            </div>
                            <div class="col">
                                <h6 class="m-b-0">Instagram</h6>
                                <p>231.2w downloads</p>
                                <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                            </div>
                        </div>
                    </div>
                    <a href="#!" class="download-icon"><i class="feather icon-arrow-down"></i></a>
                </div>
            </div>
            <!-- social download  end -->            
        </div>
    </div>
</div>



