@{
    Layout = "~/Areas/CommonManage/Views/Shared/_Common.cshtml";
}
<div class="page-header animated bounceInRight">
    <div class="card">
        <div class="card-block ">
            <div class="row ">
                <div class="col-lg-4">
                    <h5 class="text-uppercase font-weight-bold">@ViewData["PageTitle"]</h5>
                </div>
                <div class="col-lg-8 align-items-end">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index"> <i class="icofont icofont-home"></i> Home </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a asp-controller="Masters" asp-action="Index"> Masters </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a asp-controller="State" asp-action="Index"> @ViewData["PageTitle"] </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated bounceInUp">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>@ViewData["PageTitle"]</h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="@Url.Action("Create", "Desgination")" class="btn btn-primary btn-outline-primary float-right">
                            <i class="icofont icofont-user-alt-3"></i> Add
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class='dt-responsive table-responsive'>
                    <div class='dt-responsive table-responsive'>
                        <table id='dtTable' class='table table-striped table-bordered nowrap'>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Desgination Name</th>
                                    <th>Remark</th>
                                    <th>Edit</th>
                                    <th>Del</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-app/dt-desgination.js"></script>